body > header {
  > a {
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }

    > span {
      font-weight: 800;
      font-size: 2.7rem;
      line-height: 1em;
      color: @text2Color;

      em {
        color: @accentColor;
        font-style: normal;
      }
    }
  }

  > nav {
    justify-content: flex-end;
    align-items: center;

    ul {
      display: inline-block;

      li {
        display: inline;
        margin-right: 2rem;
      }
    }
  }

  > #dark {
    appearance: none;
    background: transparent center / contain no-repeat;
    border: 0;
    padding: 0;
    vertical-align: text-bottom;
    height: 1rem;
    cursor: pointer;
    user-select: none;

    &:focus-visible {
      outline: 0.125rem solid @accentColor;
      outline-offset: 0.25rem;
      border-radius: 50%;
    }
  }

  a[aria-current='page'] {
    color: @accentColor;
    font-weight: 720;
  }
}
